Source: upfrontmonitortools
Section: web
Priority: optional
Maintainer: Izak Burger <izak@upfrontsystems.co.za>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.2

Package: upfrontmonitortools-nagios
Suggests: nagios
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, coreutils, sed
Description: Nagios plugins for monitoring process memory and cpu usage
 Tools written at upfront systems for monitoring, restarting and graphing processes.
 .
 This package contains the nagios plugins.

Package: upfrontmonitortools-nagios-notificationserver
Depends: nagios | nagios2 | nagios3 | nagios3-core, python
Architecture: all
Description: Allows remote passive submissions to nagios
 Tools written at upfront systems for monitoring, restarting and graphing processes.
 .
 This package contains the notification server that allows passive check
 submissions to be submitted from remote hosts.

Package: upfrontmonitortools-munin
Architecture: any
Depends: munin-node, ${shlibs:Depends}, ${misc:Depends}
Description: Munin plugins for graphing process memory and cpu usage
 Tools written at upfront systems for monitoring, restarting and graphing processes.
 .
 This package contains the munin plugins.

Package: upfrontmonitortools-utils
Architecture: any
Depends: ${shlibs:Depends}
Description: Utilities for upfronthosting hosting infrastructure
 Tools written at upfront systems for monitoring, restarting and graphing processes.
 .
 This package contains additional utilities for restarting processes.
